$DEFAULT_FONT_SIZE: 16;

/// Base font size
/// 
/// @type number
$base-font-size: 18 !default;

/// Base line height
/// 
/// @type number
$base-line-height: 1.5 !default;

/// Base scale factor
/// 
/// @type number
$base-scale-factor: 1.618 !default;

/// Heading count
/// 
/// @type number
$heading-count: 6;